*{
  margin: 0;
  padding: 0;
}

.App{
  height: 100%;
  width: 100vw;
  background: linear-gradient(to bottom, #ffffff, #fffa99);
}

.header-logo{ 
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo img{
  width: 32vw;
  height: 90px;
}

.award{
  display: flex;
}

.award-img{
  margin-left: 2.5rem;
}

.award-img img{
  width: 30vw;
  height: 90vh;
}

.award-content{
  margin-top: 1.5rem;
  width: 65vw;
}

.award-content ul{
  margin-top: 1rem;
  margin-left: 2rem;
}

.award-content img{
  margin-top: 1rem;
  width: 60vw;
  height: 30vw;
}

.award-content p{
  width: 65vw;
  font-size: 18px;
}

.about{
  margin-top: 3rem;
}

.about .para1{
  text-align: center;
  font-weight: 500;
  font-size: 17px;
}

.about-img{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about img{
  width: 80vw;
  height: 30vw;
}

.about .para2{
  margin-top: 1rem;
  text-align: center;
  font-size: 20px;
}

.red-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-line{
  background-color: red;
  width: 95vw;
  height: 3px;
  margin: 2rem 0;
}

.about-statement{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap:wrap;
}

.about-statement p{
  text-align: center;
  margin-top: 1rem;
  width: 80vw;
  padding-left: 1rem;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.footer-container{
  padding: 0 0.5rem;
  background-color: red;
  width: 94vw;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-bottom: 1rem;
}

.call, .facebook, .website{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container a{
  text-decoration: none;
  color: white;
}

.footer-container a:hover{
  color: blue ;
}
